header{
    padding: 30px 50px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.btn-menu{
    background-color: rgba(199, 23, 23, 0);
    border: none;
}

.menu-desktop{
    display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: white;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

aside.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

aside.inactive {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}


.btn-container{
    padding: 0 50px;
    position: fixed;
    top: 46px;
    width: 80%;
    text-align: right;
}


aside.active .menu-mobile{
    margin: 150px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

aside.active .menu-mobile a, .menu-desktop a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

@media screen and (min-width: 960px) {
    header{
        padding: 80px;
    }

    .btn-menu{
        display: none;
    }

    .menu-desktop{
        display: flex;
        gap: 30px;
   }

   .menu-desktop a:hover{
        color: #F45D53;
   }

}

