main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
}

.banner{
    width: 100%;
    background: url('./assets//image-web-3-mobile.jpg') center center no-repeat;
    background-size: cover;
    height: 300px;
    margin: 20px 0 30px 0;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.hero h1{
    font-size: 3.6em;
    font-weight: 800;
    line-height: 100%;
    color: #01011B;
}

.hero p{
    padding: 20px 0;
    line-height: 200%;
    font-size: .9em;
    color: #5a5a5a;
}

.hero button{
    padding: 15px 30px;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    background-color: #F15D51;
    color: #01011B;
    width: 250px;
    cursor: pointer;
}

.new{
    background-color: #00001A;
    color: white;
    padding: 20px;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new h2{
    font-size: 3em;
    color: #ECAB5A;
}

.new h3{
    font-size: 1.5em;
}

.new p{
    font-size: 1.3em;
    font-weight: 200;
    line-height: 160%;
}

.new-topic{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divisor{
    border: 1px solid rgba(255, 255, 255, 0.3);
}